.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 22, 0), #000016 85.56%);
  z-index: 4;
}
.aboutUs {
  position: relative;
  display: inline-block;
  min-width: 68px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 5;
}
.application {
  min-width: 86px;
  cursor: pointer;
}
.application,
.contact,
.technology {
  position: relative;
  display: inline-block;
  z-index: 5;
}
.technology {
  color: #3b8dcb;
  min-width: 86px;
}
.contact {
  min-width: 59px;
  cursor: pointer;
}
.navigation {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 47px;
  max-width: 100%;
  text-align: left;
  font-size: 17px;
  color: #fff;
  font-family: "Nirmala UI";
}
.followUs {
  position: relative;
  display: inline-block;
  min-width: 71px;
  white-space: nowrap;
  z-index: 5;
}
.header {
  width: 745px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 17px;
  color: #3b8dcb;
  font-family: "Nirmala UI";
}
.revolutionizingCommunication {
  margin: 0;
  width: 768px;
  position: relative;
  font-size: inherit;
  line-height: 80px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 5;
}
.theUcnEmergency {
  align-self: stretch;
  position: relative;
  font-size: 27.5px;
  z-index: 5;
}
.hero,
.revolutionizingCommunicationParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.revolutionizingCommunicationParent {
  width: 801px;
  flex-direction: column;
  gap: 58px;
}
.hero {
  align-self: stretch;
  flex-direction: row;
}
.backvideo1Ezgif1Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.frameChild,
.logoIcon {
  position: absolute;
  top: 40px;
  left: 1472.9px;
  width: 115px;
  height: 14.1px;
  z-index: 5;
}
.logoIcon {
  top: 26px;
  left: 227.9px;
  width: 258.6px;
  height: 43px;
  object-fit: cover;
  cursor: pointer;
}
.backvideo1Ezgif1Parent {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -188.9px;
}
.gradientParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 34px 34px 338px 41px;
  box-sizing: border-box;
  position: relative;
  gap: 220px;
  max-width: 100%;
  text-align: left; 
  font-size: 72px;
  color: #fff;
  font-family: "Nirmala UI";
}
@media screen and (max-width: 1125px) {
  .gradientParent {
    padding-top: 22px;
    padding-bottom: 220px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .navigation {
    display: none;
  }
  .header {
    width: 305px;
  }
  .revolutionizingCommunication {
    font-size: 58px;
    line-height: 64px;
  }
  .gradientParent {
    gap: 110px;
    padding-top: 20px;
    padding-right: 83px;
    padding-bottom: 143px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .navigation {
    gap: 23px;
  }
  .revolutionizingCommunication {
    font-size: 43px;
    line-height: 48px;
  }
  .theUcnEmergency {
    font-size: 22px;
  }
  .revolutionizingCommunicationParent {
    gap: 29px;
  }
  .gradientParent {
    gap: 55px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
