.fullscreenContainer {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #000016;
}

.navbar {
  position: absolute;
  width: 100%;
  padding: 36px;
}

.fullpage {
  height: 100vh;
  width: 100%;
  margin: 0;

  background-color: #000016;
}

.fullscreenContainer1 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffffff;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 22, 0) 20.12%, #000016 100%);
} /* Gradient */

.gradienttop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 22, 0) 39.31%, #000016 96.41%);
  transform: rotate(-180deg);
} /* Gradient */

.fullscreenText {
  display: flex;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2em;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fullscreenTextLeft {
  justify-content: flex-start;
}

.p1head {
  /* Connectivity for Remote & Challenging Environments */

  position: absolute;
  width: 768px;
  height: 285px;
  left: 30px;
  top: calc(50% - 285px / 2 - 45px);

  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 700;
  font-size: 72.0086px;
  line-height: 80px;
  /* or 111% */
  display: flex;
  align-items: center;

  color: #ffffff;
}

.p1subhead {
  /* We provide the most reliable and cost-effective solutions for remote connectivity. */

  /* PriviNet's proprietary LPWAN technology, SkyyeWave, shatters the limits of traditional networks. */

  position: absolute;
  width: 757px;
  height: 74px;
  top: 270px;
  left: 50px;

  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 400;
  font-size: 27.506px;
  line-height: 37px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.p2sidehead {
  position: absolute;

  right: 100px;
  margin: 0 auto;
  top: 50px;

  font-family: "Nirmala UI";
  font-style: normal;
  font-size: 22.0086px;

  color: #ffffff;
}

.p2head {
  /* Connectivity for Remote & Challenging Environments */

  /* Extending Connectivity Beyond Limits */

  position: absolute;
  width: 864px;
  height: 160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100px;

  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 700;
  font-size: 62.0086px;
  line-height: 80px;
  /* or 111% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.p2subhead {
  /* We provide the most reliable and cost-effective solutions for remote connectivity. */

  /* PriviNet's proprietary LPWAN technology, SkyyeWave, shatters the limits of traditional networks. */

  position: absolute;
  width: 757px;
  height: 74px;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;

  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 400;
  font-size: 27.506px;
  line-height: 37px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.grid1 {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  color: #ffffff;
}
.customCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 0 0 0 0;
  box-sizing: border-box;
  z-index: 2;
}

.cardHeading {
  margin: 10px;
  font-size: 46px;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  margin: 0;
  z-index: 2;
}

.cardDescription {
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  font-family: inherit;
  margin: 10px;
  z-index: 2;
}

.p3head {
  /* Connectivity for Remote & Challenging Environments */

  /* Extending Connectivity Beyond Limits */

  position: absolute;
  width: 664px;
  height: 160px;
  right: 50px;
  margin: 0 auto;
  top: 50px;

  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 700;
  font-size: 52.0086px;
  line-height: 80px;
  /* or 111% */
  display: flex;
  align-items: center;
  text-align: right;

  color: #ffffff;
}

.p3subhead {
  /* We provide the most reliable and cost-effective solutions for remote connectivity. */

  /* PriviNet's proprietary LPWAN technology, SkyyeWave, shatters the limits of traditional networks. */

  position: absolute;
  width: 597px;
  height: 74px;
  top: 200px;
  right: 0px;
  margin: 0 auto;

  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22.506px;
  line-height: 37px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.grid2 {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  color: #ffffff;
}

.p4head {
  /* Connectivity for Remote & Challenging Environments */

  /* Extending Connectivity Beyond Limits */

  position: absolute;
  width: 664px;
  height: 160px;
  left: 50px;
  margin: 0 auto;
  top: 50px;

  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 700;
  font-size: 52.0086px;
  line-height: 80px;
  /* or 111% */
  display: flex;
  align-items: center;
  text-align: left;

  color: #ffffff;
}

.p4subhead {
  /* We provide the most reliable and cost-effective solutions for remote connectivity. */

  /* PriviNet's proprietary LPWAN technology, SkyyeWave, shatters the limits of traditional networks. */

  position: absolute;
  width: 597px;
  height: 74px;
  top: 200px;
  left: 0px;
  margin: 0 auto;

  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 400;
  font-size: 22.506px;
  line-height: 37px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.p4side {
  color: #ffffff;
}

.grid4 {
  position: absolute;
  top: 200px;
  left: 80%;
  transform: translateX(-50%);
  width: 30%;
  color: #ffffff;
  padding: auto;
}

.p5head {
  /* Connectivity for Remote & Challenging Environments */

  /* Extending Connectivity Beyond Limits */

  position: absolute;
  width: 864px;
  height: 160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50px;

  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 700;
  font-size: 52.0086px;
  line-height: 80px;
  /* or 111% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.video {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.fullscreenContainer5 {
  height: 200%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #000016;
}

.p5learnmore {
  /* Connectivity for Remote & Challenging Environments */

  /* Extending Connectivity Beyond Limits */

  position: absolute;
  width: 864px;
  height: 160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 150px;

  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;

  font-family: "Nirmala UI";
  font-style: normal;
  font-weight: 700;
  font-size: 42.0086px;
  line-height: 80px;
  /* or 111% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

/* Frame 3 */

.learnmorebutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0px;

  position: absolute;
  width: 198px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 100px;


  background: #3b8dcb;
  border-radius: 41px;
}





.frameChild {
  align-self: stretch;
  height: 283px;
  position: relative;
  background: linear-gradient(-1deg, #000016, #0f3054 98.93%);
  display: none;
}
.followUs1,
.logoIcon {
  position: relative;
  z-index: 1;
}
.logoIcon {
  height: 43px;
  width: 258.6px;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: 1de1738;
  cursor: pointer;
}
.followUs1 {
  display: inline-block;
  min-width: 71px;
}
.socialMediaIconsChild {
  align-self: stretch;
  height: 14.1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.socialMediaIcons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.9px;
}
.followUsParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 25px;
}
.contactIcon {
  width: 18px;
  height: 13.5px;
  position: relative;
  z-index: 1;
}
.contactIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.5px;
}
.contactprivinetcom {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.contactDetails {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 18px;
}
.followUs,
.footerContact,
.footerSocialMediaContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerContact {
  align-self: stretch;
  flex-direction: row;
  padding: 0 6px 0 1px;
  color: #fff;
}
.followUs,
.footerSocialMediaContainer {
  flex-direction: column;
}
.followUs {
  align-self: stretch;
  gap: 11px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.footerSocialMediaContainer {
  width: 211px;
  padding: 10px 0 0;
  box-sizing: border-box;
}
.footerContent,
.footerLogoAndSocialMedia {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.footerLogoAndSocialMedia {
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.footerContent {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 41px 0 39px;
  box-sizing: border-box;
}
.designElementIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.contact,
.cookies,
.privacyPolicy,
.termsOfServices {
  position: relative;
  display: inline-block;
  min-width: 128px;
  z-index: 1;
}
.contact,
.cookies,
.privacyPolicy {
  min-width: 100px;
}
.contact,
.cookies {
  min-width: 60px;
}
.contact {
  min-width: 59px;
  cursor: pointer;
}
.legalLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 58px;
  max-width: 100%;
}
.privinetAll {
  position: relative;
  z-index: 1;
}
.legalLinksParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.copyright,
.legalAndCopyright {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
}
.legalAndCopyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 41px 0 39px;
  box-sizing: border-box;
}
.copyright {
  gap: 30px;
  color: #fff;
}
.copyright,
.desktopAboutUs,
.rectangleParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rectangleParent {
  align-self: stretch;
  background: linear-gradient(-1deg, #000016, #0f3054 98.93%);
  align-items: flex-start;
  padding: 73px 0 40px;
  box-sizing: border-box;
  gap: 49px;
  max-width: 100%;
  text-align: left;
  font-size: 17px;
  color: #3b8dcb;
  font-family: "Nirmala UI";
}
.desktopAboutUs {
  width: 100%;
  position: relative;
  background-color: #000016;
  overflow: hidden;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .teamContentWrapper {
    padding-right: 49px;
    box-sizing: border-box;
  }
  .teamMembers {
    padding-bottom: 94px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .heroDetails,
  .heroDetails1,
  .heroDetails2,
  .heroDetails3,
  .heroDetails4 {
    font-size: 25px;
  }
  .meetOurVisionary {
    font-size: 58px;
    line-height: 64px;
  }
  .teamHeading {
    padding-left: 21px;
    padding-right: 21px;
    box-sizing: border-box;
  }
  .legalLinksParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .heroContainer {
    height: auto;
    min-height: 2605.6;
  }
  .teamContent {
    gap: 20px;
  }
  .teamContentWrapper {
    padding-right: 24px;
    box-sizing: border-box;
  }
  .memberList {
    gap: 38px;
  }
  .teamMembers {
    padding-bottom: 61px;
    box-sizing: border-box;
  }
  .footerLogoAndSocialMedia,
  .legalLinks {
    flex-wrap: wrap;
  }
  .legalLinks {
    gap: 29px;
  }
  .rectangleParent {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .heroDetails,
  .heroDetails1,
  .heroDetails2,
  .heroDetails3,
  .heroDetails4 {
    font-size: 19px;
  }
  .meetOurVisionary {
    font-size: 43px;
    line-height: 48px;
  }
  .ledByA {
    font-size: 22px;
  }
  .teamContentWrapper {
    padding-bottom: 86px;
    box-sizing: border-box;
  }
  .memberList {
    gap: 19px;
  }
}
