@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "Nirmala UI";
  src: url("/Nirmala.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Nirmala UI";
  src: url("/nirmalab.ttf");
  font-weight: 700;
}

body {
  /* left: 0;
  right: 0;
  justify-content: center;
  margin: 0 auto;
  line-height: normal;
  background-color: #000016; */
  margin: 0;
  line-height: normal;
  background-color: #000016;
}
