@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "Nirmala UI";
  src: url("/Nirmala.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Nirmala UI";
  src: url("/nirmalab.ttf");
  font-weight: 700;
}

body {
  margin: 0;
  line-height: normal;
}
